{% extends "master.html" %}
{% block content %}
<div class="container">
  <div class="row align-items-start">
<audio controls>
  <source src="../static/audios/call_grandma_main.ogg" type="audio/ogg">
  <source src="../static/audios/call_grandma_main.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>
</div>
</div>

<div class="container">
    <div class="row align-items-center">
      <div class="col-md-2">
        <input type="checkbox" id="myCheckbox1" />
        <label for="myCheckbox1"><img src="../static/images/Youngling/1" width="120" height="160"/></label>
      </div>
    </div>
</div>

{% endblock %}